.productimagecell, .productimagecell img{
	height: 50px;
	width: 50px;
	vertical-align: top;
}

table {
	width: 100%;
}

table, tr, td, th {
	border: 1px solid gray;
	border-collapse: collapse;
	text-align: center;
	padding: 0px;
}

tr.highlighted {
	cursor: pointer;
	background-color: rgb(184, 175, 223);
}