#title p {
	padding-left: 100px;
	margin: 0px;
}

#manufacturer {
	margin-left: 190px;
}

#slideshowdiv, #slideshowimg1, #slideshowimg2 { /* Home page only */
	height: 432px;
	width: 600px;
}

#slideshowimg1, #slideshowimg2 { /* Home page only */
	position: absolute;
	top: 8px;
	left: 8px;
}

#slideshowdiv {
	position: relative;
	width: 616px;
	height: 448px;
	margin: 60px auto;
	background: url(/images/slideshowshadow.gif) no-repeat;
}