/* Body */
html {
	background: rgb(243, 242, 237) no-repeat fixed center bottom;
	font-family: "Trebuchet MS", "Trebuchet", "Verdana", sans-serif;
	font-size: 12px;
	height: 100%;
}

body {
	width: 900px;
	background-color: rgb(184, 206, 108);
	margin: 0px auto;
	height: 100%;
}

/* Banner */
#banner {
	padding: 20px;
}

/* Titles */
h2 {
    font-family: 'Playball', cursive;
    font-weight: normal;
}

/* Menu */
#menuwrapper {
	width: 100%;
	background: url(/images/menushadow.gif) repeat-x bottom;
	height: 36px;
	font-size: 14px;
}

#menu a.current {
	background: url(/images/tabcurrent.gif) no-repeat;
}

#menu a:hover {
	color: black;
}

#menu {
	margin: 0px auto;
	width: 63%;
}

#menu a {
	padding-top: 10px;
	padding-right: 3px;
	color: white;
	width: 100px;
	height: 26px;
	font-weight: bold;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	margin: 0px 1px;
	background: url(/images/tab.gif) no-repeat;
}

/* Title */
#title {
	background-color: rgb(108, 96, 158);
    padding: 10px 0 10px 100px;
	color: white;
}

/* Content */
#content {
	min-height: 70%;
	height: auto !important;
	height: 70%;
	background-color: rgb(210, 222, 160);
	padding: 10px;
}

/* Footer */
#footer {
	padding: 4px 0px;
	color: #4C4C4C;
	text-align: center;
	font-size: 11px;
	background-color: rgb(184, 206, 108);
}

/* Contact page only */
address {
	margin: 20px;
}

/* Product Nav */
.productnav {
	width: 63%;
	height: 50px;
	margin: 0px auto;
}

.productnav * {
	display: block;
	float: left;
}

.productnav span {
	font-weight: bold;
	height: 16px;
	width: 140px;
	padding: 5px;
	text-align: center;
}

.productnav a {
	height: 18px;
	width: 142px;
	padding: 4px;
	text-align: center;
	background-image: url(/images/browsebybutton.gif);
	color: white;
	text-decoration: none;
}

.productnav a:hover {
	text-decoration: underline;
}

/* Rounded Corner Divs */
.top {
	height: 20px;
	width: 100%;
	background-image: url(/images/800pxdivtop.gif);
}

.roundedcornerwrapper {
	width: 800px;
	margin: 0px auto;
	background-image: url(/images/800pxdivmiddle.gif);
}

.roundedcornerinner {
	padding: 10px;
}

.bottom {
	height: 20px;
	width: 100%;
	background-image: url(/images/800pxdivbottom.gif);
}

/* Pagelinks */
#pagelinks {
	text-align: center;
	line-height: 40px;
	padding: 10px 0px;
}

#pagelinks * {
	border: 1px solid gray;
	padding: 3px 7px;
	margin: 5px;
}

#pagelinks a {
	color: rgb(73, 64, 107);
	text-decoration: none;
}

#pagelinks a:hover {
	background-color: rgb(108, 96, 158);
	color: white;
}

span.currentlink {
	font-weight: bold;
}

/* Miscellaneous */
h1 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 6px;
}

h2 {
	font-size: 40px;
    margin: 0;
}

ul {
	padding-left: 10px;
	list-style-type: none;
}

img {
	border: none;
}

a {
	color: #00416D;
}

p {
	font-size: 13px;
	line-height: 20px;
}

.spacer {
	clear: left;
	/* For IE */
	padding: 0px;
	margin: 0px;
}

.cursive {
    font-family: 'Playball', cursive;
    font-weight: normal;
}

/*
	Green - rgb(184, 206, 108)
	Light green - rgb(210, 222, 160)
	Light Purple - rgb(108, 96, 158)
	Purple - rgb(73, 64, 107)
	Logo Blue - rgb(0, 65, 109)
*/
