fieldset {
	width: 45%;
	margin: 10px auto;
	padding: 5px 8px 5px 8px;
	_display: inline;
	_padding: 5px 3px;
	_border: 1px solid gray;
}

legend { /* Required for Safari */
	text-align: left;
}

fieldset div {
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	text-align: right;
}

input[type="text"] {
	width: 170px;
}

input { /* IE 6 Only */
	_width: 170px;
}

select {
	width: 196px;
}

#textareaparagraph {
	text-align: center;
	margin: 0px;
}

textarea {
	width: 95%;
}

#partsNeeded {
	width: 90%;
}

#partsNeeded label {
	margin: 0px 10px;
}

#partsNeeded div {
	text-align: left;
}

#addRow {
	margin-bottom: 30px;
}

fieldset img {
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 5px;
}

#submitdiv {
	border: none;
	text-align: center;
}

.tip {
	color: #222222;
	font-size: .9em;
}

h3 {
	margin-bottom: 0px;
	line-height: 0px;
}

#required {
	margin-top: 30px;
}

/* Results page */
h3 {
	text-align: center;
}