.large {
	font-size: 30px;
	font-weight: bold;
}

.roundedcornerinner {
	padding: 0px 30px;
}

#content > div > * {
	float: left;
}

#content > div {
	margin-left: 10px;
	clear: left;
}

fieldset {
	padding-left: 20px;
	border-style: none;
}

#content #addressdiv {
	float: none;
	color: #4C4C4C;
	width: 70%;
	margin: 0px auto;
}

address {
	float: left;
}

input {
	width: 200px;
}