#categorylinks {
	width: 820px;
	padding: 10px 12px;
	height: 354px;
	margin: 20px auto;
	background: url(/images/categorydiv.gif) no-repeat;
}

#categorylinks a, #categorylinks div {
	height: 120px;
	width: 120px;
	float: left;
	_display: inline;
}

#categorylinks a {
	text-align: center;
	padding: 1px;
	text-decoration: none;
	color: black;
}

#categorylinks a:hover {
	font-weight: bold;
}

#categorylinks div {
	margin: 10px 8px 40px 8px;
	_margin: 5px 6px 20px 6px;
}

#categorylinks p {
	margin: 0px;
}