<footer>
  <div id="copyright">
    <span id="copyright-symbol">&copy;</span> <%= Time.now.year %> Winsome Trading, Inc.
  </div>

  <div class="footer-links">
    <%= link_to("About us", "/about") %>
    <%= link_to("Replacement parts", replacement_path) %>
    <%= link_to("Contact us", contact_path) %>
  </div>

  <hr />

  <div class="addresses">
    <address>
      <a href="http://maps.google.com/maps?q=16111+Woodinville-Redmond+Road+N.E.+Woodinville,+WA+98072-9046,+USA&oe=utf-8&client=firefox-a&hnear=16111+Woodinville+Redmond+Rd+NE,+Woodinville,+Washington+98072&gl=us&t=m&z=16&vpsrc=0" target="_blank">
        USA OFFICE
        <br/>
        16111 Woodinville-Redmond Road N.E.
        <br/>
        Woodinville, WA 98072-9046, USA
      </a>
      <br/>
      Phone: 425-483-8888
      <br/>
      Fax: 425-483-4141
    </address>
    <address>
      <a href="http://maps.google.com/maps?q=108-8116+Alexander+Road+Delta,+British+Columbia+V4G+1C6,+Canada&oe=utf-8&client=firefox-a&hnear=8116+Alexander+Rd,+Delta,+Greater+Vancouver+Regional+District,+British+Columbia+V4G+1G7,+Canada&gl=us&t=m&z=16&vpsrc=0" target="_blank">
        CANADA OFFICE
        <br/>
        108-8116 Alexander Road
        <br/>
        Delta, British Columbia V4G 1C6, Canada
      </a>
      <br/>
      Phone: 604-946-5888
      <br/>
      Fax: 604-946-5899
    </address>
  </div>
</footer>