<footer>
  <div id="copyright">
    <span id="copyright-symbol">&copy;</span> <%= Time.now.year %> Winsome Trading, Inc.
  </div>

  <div class="footer-links">
    <%= link_to("About us", "/about", class: "about-us") %>
    <%= link_to("Contact us", contact_path) %>
    <%= link_to("Replacement parts", replacement_path, class: "replacement-parts") %>
  </div>

  <hr />

  <div class="addresses">
    <address>
      <h3>USA OFFICE</h3>
      <a class="office-address" href="http://maps.google.com/maps?q=16111+Woodinville-Redmond+Road+N.E.+Woodinville,+WA+98072-9046,+USA&oe=utf-8&client=firefox-a&hnear=16111+Woodinville+Redmond+Rd+NE,+Woodinville,+Washington+98072&gl=us&t=m&z=16&vpsrc=0" target="_blank">
        16111 Woodinville-Redmond Road N.E.
        <br/>
        Woodinville, WA 98072-9046, USA
      </a>
      <div>Phone: 425-483-8888</div>
      <div>Fax: 425-483-4141</div>
    </address>
    <address>
      <h3>CANADA OFFICE</h3>
      <a class="office-address" href="http://maps.google.com/maps?q=108-8116+Alexander+Road+Delta,+British+Columbia+V4G+1G7,+Canada&oe=utf-8&client=firefox-a&hnear=8116+Alexander+Rd,+Delta,+Greater+Vancouver+Regional+District,+British+Columbia+V4G+1G7,+Canada&gl=us&t=m&z=16&vpsrc=0" target="_blank">
        108-8116 Alexander Road
        <br/>
        Delta, British Columbia V4G 1G7, Canada
      </a>
      <div>Phone: 604-946-5888</div>
      <div>Fax: 604-946-5899</div>
    </address>
  </div>
</footer>