<div class="categories">
  <div class="header">
    <span>Select a category</span>
  </div>
  <div class="list">
    <% Item.select(:category).distinct.order(:category).pluck(:category).each do |category| %>
      <%= link_to(category, items_path(category: category.downcase)) %>
    <% end %>
  </div>
</div>