<div class="nav-category-menu">
  <div class="list">
    <% supercategories_array.each do |supercategory| %>
      <div class="supercategory">
        <span class="supercategory-title">
          <%= supercategory[:name] %>
          &nbsp;
          <%= image_tag("right.svg") %>
        </span>
        <% supercategory[:categories].each do |category| %>
          <%= link_to(category, items_path(category: category.downcase)) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>