<div class="fraud-warning">
  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M13 0C20.1797 0 26 5.82029 26 13C26 20.1797 20.1797 26 13 26C5.82029 26 0 20.1797 0 13C0 5.82029 5.82029 0 13 0ZM13 19.5C13.8974 19.5 14.625 18.7724 14.625 17.875V13C14.625 12.1026 13.8974 11.375 13 11.375C12.1026 11.375 11.375 12.1026 11.375 13V17.875C11.375 18.7724 12.1026 19.5 13 19.5ZM13 9.75C13.8974 9.75 14.625 9.02237 14.625 8.125C14.625 7.22763 13.8974 6.5 13 6.5C12.1026 6.5 11.375 7.22763 11.375 8.125C11.375 9.02237 12.1026 9.75 13 9.75Z" />
  </svg>
  <span class="text">
    <span class="header">Beware of fraudulent websites.</span>
    Winsomewood.com is our only website and as a wholesaler we do not sell direct to consumers. <a href="/retailers">Our licensed retailers can be found here.</a>
  </span>
</div>
<div class="top-background">
  <div class="top-grid">
    <div class="intro">
      <h1>Quality lifestyle furniture</h1>
      <p>
        Winsome began manufacturing and distributing solid wood housewares in 1977, and today it is one of the leading brands of lifestyle furniture. Offering innovative designs with unbeatable balance between craftsmanship and affordability.
      </p>
    </div>
    <div class="carousel">
      <% ["Kenner", "Burke", "Delta", "Richmond", "Taylor"].each do |image| %>
        <%= image_tag("/images/collections/#{image}.jpg", alt: "furniture") %>
      <% end %>
    </div>
  </div>
</div>

<div class="bottom">
  <h3>Browse our most popular categories</h3>
  <div class="categories-grid">
    <% ["stools", "nightstands", "breakfast trays", "home office", "snack tables"].each do |image| %>
      <div>
        <%= link_to image.titleize, items_path(category: image) %>
        <%= link_to(image_tag("/images/categories/#{image}.jpg", class: "category-image", height: 200, width: 200, alt: image), items_path(category: image)) %>
      </div>
    <% end %>
  </div>
</div>