%h2{:style => "display: inline"}
  Welcome

%p
  We are Winsome Wood. Manufacturer and Distributor of Quality Lifestyle Furniture for the home.
  = link_to("View our products", category_items_path)

.carousel
  - @carousel_images.each do |image|
    = link_to(image_tag("collectionimages/#{image}"), category_items_path)

%h2 Our Company

%p
  Winsome began manufacturing and distributing solid wood housewares in 1977, and today it is one of the leading brands of lifestyle furniture known for offering innovative designs with unbeatable balance between craftsmanship and affordability. Our main USA office, assembly operation and distribution warehouse are all efficiently located under one 200,000 square foot facility in Woodinville, Washington while our Canadian branch office and warehouse is situated in Delta, British Columbia.

%p
  While Winsome offers its own designs of products, we also have a flexibility to customize customers' own designs. And with our centralized, leading-edge operation, our customers enjoy added benefits of order flexibility, fast shipping and quick response from our customer service.

%p
  Having consistently earned awards and recognitions for innovative leadership, superior business practices and commitment to customers from leading retailers such as Target Corporation and the like, we continue to be committed in bringing products with the best value and service to our customers.
