<main>
  <div class='retailers'>
    <h1>Retailers</h1>
    <p>
      Winsome is a furniture wholesaler. <span style="font-weight: bold;">We do not sell our products directly to the public.</span> Our products are available from our many retail partners. If you wish to make a purchase, please contact the retailers directly.
    </p>

    <div id="retailers">
      <% Retailer.order(:name).each do |retailer| %>
        <a href="<%= retailer.url %>" target="_blank">
          <%= image_tag("/images/companies/#{retailer.image_src}", :alt => retailer.name) %>
        </a>
      <% end %>
    </div>
  </div>
</main>