<% @page_title = "Retailers" %>
<main>
  <div class='retailers'>
    <h1><%= @page_title %></h1>
    <p>
      Winsome is a furniture wholesaler, and we do not sell our products directly to the public. Our products are available from our many retail partners. If you wish to make a purchase, please contact the retailers directly.
    </p>

    <div id="retailers">
      <% Retailer.order(:name).each do |retailer| %>
        <a href="<%= retailer.url %>" target="_blank">
          <%= image_tag("#{ENV['DIGITALOCEAN_SPACES_URL']}/images/companies/#{retailer.image_src}", :alt => retailer.name) %>
        </a>
      <% end %>
    </div>
  </div>
</main>