<a href="<%= item_path(item.itemno) %>" class="item">
  <%= image_tag("#{ENV['DIGITALOCEAN_SPACES_URL']}/images/584/#{item.itemno}.jpg", alt: item.description) %>
  <h3><%= item.description %></h3>
  <div class="item-number">Item # <%= item.itemno %></div>
</a>
