@import "variables"

li.item
  clear: left
  overflow: auto
  background-color: $green
  margin-bottom: 5px
  line-height: 1.6em

  img
    float: left
    margin: 5px
    margin-right: 20px
    height: 160px
    width: 160px

  .meta
    float: left
    margin-left: 20px
    margin-right: 40px

.show

  > div
    float: left

  .images
    margin-right: 40px

    .color_disclaimer
      clear: left
      text-align: center

    .help
      text-align: center
      margin-bottom: 10px


  .images > div
    width: 350px

  .thumbnails
    a img
      margin: 8px 1px
      border: 1px solid #777777

  img.large
    width: 350px
    height: 350px

  img.small
    width: 50px
    height: 50px

  .item
    .main-meta
      line-height: 2em
      float: left
      margin-top: 0px
      margin-bottom: 30px

    .meta.extended
      display: none

    width: 530px

    h2
      font-size: 2em

  .components
    .small
      float: left

    img
      height: 160px
      width: 160px

  hr
    margin: 30px 0px
    border: 1px solid #555555


.dimensions
  li
    margin-left: 10px
