nav.pagination {
  & > span {
    color: #4f4f4f;
    font-weight: normal;
  }
  & a {
    color: inherit;
    text-decoration: none;
    padding: 8px;
  }
  & a:hover {
    text-decoration: underline;
  }
  & .current {
    color: var(--color-winsome-blue);
    font-weight: bold;
    padding: 8px;
  }
  & .first,
  & .last {
    display: none;
  }
}
