@import "variables"

.replacements

  overflow: auto

  .column
    width: 45%
    float: left

    fieldset
      padding: 10px
      margin-bottom: 15px

    .section
      margin-bottom: 0px
      margin-left: 20px

    %hr
      margin: 20px
