#pages-retailers {
  & .retailers {
    max-width: 960px;
    margin: 0px auto;
  }

  & #retailers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 14px;
    margin-top: 60px;

    & a,
    & a img {
      height: 45px;
      width: 141px;
      background-color: white;
    }
  }
}
