<html>
<style>
body {
  font-family: "Arial", sans-serif;
  line-height: 1.5em;
}
div {
  border-bottom: 1px solid black;
  padding: 15px;
  width: 500px;
}
span {
  display: inline-block;
  width: 100%;
}
table {
  border-collapse: collapse;
}
table * {
  border: 1px solid black;
  padding: 5px;
}
</style>
  <body>
    <%= yield %>
  </body>
</html>
